@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-orange: #F46425;
    --color-blue: #135FAA;
    --color-light-blue: #7CB2E7;
    --color-gray-stroke: #C6C5C5;
    --color-gray-fill: #888686;
    --color-gray: #D9D9D9;
    --color-gray-light: #19181880;
}